<div class="grid">
    <div class="col-8 col-offset-2">
        <div class="grid">
            <div class="col-6">
                <h1 class="my-2">Vikingklesbutikk</h1>
                
                <p>Velkommen til vår unike butikk hvor historie møter stil. I hjertet av resortet finner du vår spesialbutikk som tilbyr
                    et bredt utvalg av autentiske vikingklær. Fra tradisjonelle tunikaer og kapper til detaljerte rustninger og
                    tilbehør, vårt sortiment lar deg ta et dypdykk inn i vikingtiden.</p>
                
                <p>Enten du søker et minnesmerke fra ditt opphold, eller du ønsker å kle deg for en temakveld i mjødhallen, har vi noe
                    for enhver smak. Våre klær er håndlaget med fokus på historisk nøyaktighet og kvalitet, og gir en autentisk
                    opplevelse for både voksne og barn.</p>
                
                <p>Stikk innom for å utforske vårt mangfoldige utvalg og finn det perfekte antrekket for å komplettere din
                    vikingopplevelse. Våre vennlige ansatte står klare til å hjelpe deg med å velge ut klær som ikke bare ser
                    fantastiske ut, men som også forteller en historie.</p>
                
                <p>Gjør ditt opphold hos oss enda mer minneverdig med et unikt klesplagg fra vår vikingklesbutikk. Vi gleder oss til å
                    hjelpe deg med å finne det perfekte vikingantrekket!</p>


            </div>
            <div class="col-6 pt-3">
                <img src="/assets/img/clothing-store.png" width="100%" class="mr-2" />
            </div>
           
        </div>
    </div>
</div>

<div class="grid">
    <div class="col-12 md:col-8 md:col-offset-2">

        <h2>Utstyr</h2>
        <div class="grid">
            <div class="col-12 md:col-4">
                <p-card>
                    <ng-template pTemplate="title">
                        Sverd - 8300 kr
                    </ng-template>
                    <ng-template pTemplate="content">
                        <img src="/assets/img/sword.png" alt="Sword" class="w-full mb-2" />
                        Sverdet har en detaljert norrøn design med intrikate inngraveringer og en historisk nøyaktig form. Saueskinnet under gir en rustikk og autentisk bakgrunn som fremhever sverdets håndverk og vikingarv.
                    </ng-template>

                    <ng-template pTemplate="footer">
                        <p-button label="Bestill nå" class="p-button-outlined"></p-button>
                    </ng-template>
                </p-card>
            </div>
            <div class="col-12 md:col-4">
                <p-card>
                    <ng-template pTemplate="title">
                        Skjold - 5700 kr
                    </ng-template>
                    <ng-template pTemplate="content">
                        <img src="/assets/img/shield.png" alt="Shield" class="w-full mb-2" />
                        Skjoldet viser tradisjonelle norrøne design, med en rund form og levende farger, og inneholder intrikate mønstre og symboler. Saueskinnet under gir en rustikk og autentisk bakgrunn som fremhever skjoldets håndverk og vikingarv.
                    </ng-template>

                    <ng-template pTemplate="footer">
                        <p-button label="Bestill nå" class="p-button-outlined"></p-button>
                    </ng-template>
                </p-card>
            </div>

                  <div class="col-12 md:col-4">
                <p-card>
                    <ng-template pTemplate="title">
                        Spyd - 3700 kr
                    </ng-template>
                    <ng-template pTemplate="content">
                        <img src="/assets/img/spear.png" alt="Spear" class="w-full mb-2" />
                        Spydet har en detaljert norrøn design med et velformet hode og en lang treskaft. Saueskinnet under gir en rustikk og autentisk bakgrunn som fremhever spydets håndverk og vikingarv.
                    </ng-template>

                    <ng-template pTemplate="footer">
                        <p-button label="Bestill nå" class="p-button-outlined"></p-button>
                    </ng-template>
                </p-card>
            </div>

              <div class="col-12 md:col-4">
                <p-card>
                    <ng-template pTemplate="title">
                        Pil og bue - 2100 kr
                    </ng-template>
                    <ng-template pTemplate="content">
                        <img src="/assets/img/bowAndArrow.png" alt="Bow and arrow" class="w-full mb-2" />
                        Buen har et tradisjonelt norrønt design, med en solid trekonstruksjon og en enkel, men funksjonell estetikk. Pilene matcher buen, med godt utformede treskaft og fjærfletting. Bildet fanger opp buen og pilenes historiske autentisitet og håndverk.
                    </ng-template>

                    <ng-template pTemplate="footer">
                        <p-button label="Bestill nå" class="p-button-outlined"></p-button>
                    </ng-template>
                </p-card>
            </div>

                  <div class="col-12 md:col-4">
                <p-card>
                    <ng-template pTemplate="title">
                        Øks - 4700 kr
                    </ng-template>
                    <ng-template pTemplate="content">
                        <img src="/assets/img/axe.png" alt="Axe" class="w-full mb-2" />
                        Øksen har en detaljert norrøn design, med et solid håndtak og en godt utformet metallhode med intrikate inngraveringer. Saueskinnet under gir en rustikk og autentisk bakgrunn som fremhever øksens håndverk og vikingarv.
                    </ng-template>

                    <ng-template pTemplate="footer">
                        <p-button label="Bestill nå" class="p-button-outlined"></p-button>
                    </ng-template>
                </p-card>
            </div>
        </div>

        <h2>Klær</h2>
        <div class="grid">
            <div class="col-12 md:col-4">
                <p-card>
                    <ng-template pTemplate="title">
                        Skjortel - 800 kr
                    </ng-template>
                    <ng-template pTemplate="content">
                        <img src="/assets/img/tunic.png" alt="Tunic" class="w-full mb-2" />
                        Skjortelen viser tradisjonell norrøn design, med et solid stoff som har enkle, men elegante mønstre, og en form som reflekterer vikingtidens klær. Bildet fanger opp skjortelens historiske autentisitet og håndverk.
                    </ng-template>

                    <ng-template pTemplate="footer">
                        <p-button label="Bestill nå" class="p-button-outlined"></p-button>
                    </ng-template>
                </p-card>
            </div>
            <div class="col-12 md:col-4">
                <p-card>
                    <ng-template pTemplate="title">
                        Sko - 1200 kr
                    </ng-template>
                    <ng-template pTemplate="content">
                        <img src="/assets/img/boots.png" alt="Boots" class="w-full mb-2" />
                        Skoene viser tradisjonell norrøn håndverkskunst, med robust lær i et enkelt, men holdbart design, typisk for fottøy fra vikingtiden. Bildet fanger opp skoenes historiske autentisitet og robusthet.
                    </ng-template>

                    <ng-template pTemplate="footer">
                        <p-button label="Bestill nå" class="p-button-outlined"></p-button>
                    </ng-template>
                </p-card>
            </div>
             <div class="col-12 md:col-4">
                <p-card>
                    <ng-template pTemplate="title">
                        Bukse - 900 kr
                    </ng-template>
                    <ng-template pTemplate="content">
                        <img src="/assets/img/pants.png" alt="Pants" class="w-full mb-2" />
                       Buksene demonstrerer tradisjonell norrøn håndverkskunst, med et robust stoff i et enkelt, men funksjonelt design, typisk for klær fra vikingtiden. Bildet fanger opp buksenes historiske autentisitet og holdbarhet.
                    </ng-template>

                    <ng-template pTemplate="footer">
                        <p-button label="Bestill nå" class="p-button-outlined"></p-button>
                    </ng-template>
                </p-card>
            </div>

             <div class="col-12 md:col-4">
                <p-card>
                    <ng-template pTemplate="title">
                        Belte - 700 kr
                    </ng-template>
                    <ng-template pTemplate="content">
                        <img src="/assets/img/belt.png" alt="Belt" class="w-full mb-2" />
                       Beltet viser tradisjonell norrøn håndverkskunst, med et robust lær og intrikate design, samt en solid spenne, noe som er typisk for tilbehør fra vikingtiden. Bildet fanger opp beltets historiske autentisitet og utsmykkede håndverk.
                    </ng-template>

                    <ng-template pTemplate="footer">
                        <p-button label="Bestill nå" class="p-button-outlined"></p-button>
                    </ng-template>
                </p-card>
            </div>
        </div>

        <h2>Smykker</h2>
        <div class="grid">
            <div class="col-12 md:col-4">
                <p-card>
                    <ng-template pTemplate="title">
                        Smykke - 1400 kr
                    </ng-template>
                    <ng-template pTemplate="content">
                        <img src="/assets/img/amulet.png" alt="Amulet" class="w-full mb-2" />
                        Smykkene fremviser tradisjonelle norrøne design, inkludert intrikat metallarbeid med symboler og mønstre typisk for vikingtiden. Bildet fanger opp smykkenes historiske autentisitet og detaljerte håndverk.
                    </ng-template>

                    <ng-template pTemplate="footer">
                        <p-button label="Bestill nå" class="p-button-outlined"></p-button>
                    </ng-template>
                </p-card>
            </div>
            <div class="col-12 md:col-4">
                <p-card>
                    <ng-template pTemplate="title">
                        Ring - 1200 kr
                    </ng-template>
                    <ng-template pTemplate="content">
                        <img src="/assets/img/ring.png" alt="Ring" class="w-full mb-2" />
                        Ringen viser tradisjonelt norrønt håndverk, med intrikat metallarbeid som inneholder symboler og mønstre typiske for smykker fra vikingtiden. Bildet fanger opp ringens historiske autentisitet og detaljerte kunstferdighet.
                    </ng-template>

                    <ng-template pTemplate="footer">
                        <p-button label="Bestill nå" class="p-button-outlined"></p-button>
                    </ng-template>
                </p-card>
            </div>
        </div>

        <!-- Her kan du legge til flere kort for "Spesielle Pakker" på samme måte -->

    </div>
</div>