<div class="grid">
    <div class="col-8 col-offset-2">
        <div class="grid">
            <div class="col-6">
                <h1 class="my-2">Klatrepark</h1>

                <p>Gi barna en uforglemmelig opplevelse med våre spennende tretoppleker. I vårt naturskjønne område,
                    hvor historie møter
                    natur, tilbyr vi en trygg og morsom lekeplass blant trærne.</p>

                <p>Fra tauklatring til ziplining, våre tretoppleker er designet for å oppmuntre til eventyrlyst og
                    utforskning hos barn
                    i alle aldre. Se barnas øyne lyse opp av glede mens de svinger seg fra tre til tre, utfordrer seg
                    selv og lærer om
                    balanse og koordinasjon, alt i trygge omgivelser.</p>

                <p>Våre lekeområder er et perfekt sted for barn å bruke opp energi, lære om naturen, og bare være barn.
                    Med fokus på
                    sikkerhet og moro, kan du være trygg på at dine små eventyrere vil ha en fantastisk tid mens de
                    utforsker og leker i
                    trærne.</p>

                <p>Opplev gleden av å se barna klatre, hoppe og leke i våre unike tretoppleker. Vi inviterer familier
                    til å nyte en dag
                    fylt med latter, moro og eventyr i det fri.</p>


            </div>
            <div class="col-6 pt-3">
                <img src="/assets/img/three-climbing.png" width="100%" class="mr-2" />
            </div>
        </div>
    </div>
</div>