<div class="grid bg-primary">
    <div class="xl:col-4 xl:col-offset-2 col-12">

        <h2>Generell Informasjon</h2>
        <dl>
            <dt><strong>Resepsjonen</strong></dt>
            <dd>Åpen 24 timer i døgnet. Våre medarbeidere er her for å hjelpe deg med hva du måtte trenge under ditt
                opphold.
            </dd>

            <dt><strong>Wi-Fi</strong></dt>
            <dd>Gratis trådløst internett er tilgjengelig over hele hotellet.</dd>

            <dt><strong>Parkering</strong></dt>
            <dd>Gratis parkering for alle gjester. Elektriske ladestasjoner er også tilgjengelige.</dd>

            <dt><strong>Røykfritt Hotel</strong></dt>
            <dd>Vi er et røykfritt hotell. Røyking er kun tillatt i utpekte områder utenfor bygningen.</dd>
        </dl>


        <img src="assets/img/hotel-map.png" width="100%" class="mr-2" />
    </div>
    <div class="xl:col-4 col-12">


        <h2>Måltider</h2>
        <dl>
            <dt><strong>Frokost</strong></dt>
            <dd>Tilgjengelig fra 07:00 til 10:00 i restauranten.</dd>

            <dt><strong>Middag</strong></dt>
            <dd>Serveres fra 18:00 til 21:00. Vi tilbyr et variert utvalg av lokale og internasjonale retter.</dd>

            <dt><strong>Kveldsmat</strong></dt>
            <dd>En lett kveldsbuffet er tilgjengelig fra 21:30 til 23:00 i vår mjødhall.</dd>
        </dl>

        <h2>Spa og Velvære</h2>
        <dl>
            <dt><strong>Spa-avdelingen</strong></dt>
            <dd>Åpen daglig fra 10:00 til 20:00. Forhåndsbestilling anbefales.</dd>

            <dt><strong>Bassengområdet</strong></dt>
            <dd>Åpent fra 06:00 til 22:00. Inkluderer oppvarmet innendørsbasseng, jacuzzi og badstue.</dd>
        </dl>

           <h2>Utleige</h2>
        <dl>
            <dt><strong>Kano</strong></dt>
            <dd>Åpen daglig fra 10:00 til 20:00. Forhåndsbestilling anbefales.</dd>

            <dt><strong>Klatreparken</strong></dt>
            <dd>Åpent fra 06:00 til 22:00. Barn under 18 må ha med en voksen.</dd>
        </dl>
    </div>
</div>