<div class="grid">
    <div class="col-8 col-offset-2">
    <div class="grid">
        <div class="col-6">
            <h1 class="my-2">Kanoleie</h1>

            <p>Utforsk den naturskjønne skjønnheten i vårt område fra vannet! I vår pittoreske beliggenhet ved
                innsjøen tilbyr vi
                våre gjester muligheten til å låne kanoer og oppleve eventyret og roen av å padle i harmoni med
                naturen.</p>

            <p>Våre kanoer er perfekte for alle, fra familier som søker et morsomt utendørs eventyr, til par som
                ønsker en romantisk
                utflukt på vannet. Ta med barna og padle i rolig tempo mens dere nyter den friske luften og den
                vakre utsikten som
                omgir oss.</p>

            <p>Enten du er en erfaren padler eller en nybegynner, er våre vann perfekte for en avslappende dag ute.
                Med
                krystallklart vann og en idyllisk omgivelse er dette en unik måte å oppleve den lokale naturen på.
            </p>

            <p>Bli med oss og skap uforglemmelige minner mens du padler i de rolige vannene, omgitt av det
                spektakulære landskapet
                som vår region har å tilby.</p>

        </div>
        <div class="col-6 pt-3">
            <img src="/assets/img/family-kano.png" width="100%" class="mr-2" />
        </div>
    </div>
    </div>
</div>