<div class="grid">
    <div class="col-8 col-offset-2">
        <div class="grid">
            <div class="col-6">
                <h1 class="my-2">Kano</h1>

                <p>Utforsk den naturskjønne skjønnheten i vårt område fra vannet! I vår pittoreske beliggenhet ved
                    innsjøen tilbyr vi
                    våre gjester muligheten til å låne kanoer og oppleve eventyret og roen av å padle i harmoni med
                    naturen.</p>

                <p>Våre kanoer er perfekte for alle, fra familier som søker et morsomt utendørs eventyr, til par som
                    ønsker en romantisk
                    utflukt på vannet. Ta med barna og padle i rolig tempo mens dere nyter den friske luften og den
                    vakre utsikten som
                    omgir oss.</p>

                <p>Enten du er en erfaren padler eller en nybegynner, er våre vann perfekte for en avslappende dag ute.
                    Med
                    krystallklart vann og en idyllisk omgivelse er dette en unik måte å oppleve den lokale naturen på.
                </p>

                <p>Bli med oss og skap uforglemmelige minner mens du padler i de rolige vannene, omgitt av det
                    spektakulære landskapet
                    som vår region har å tilby.</p>

            </div>
            <div class="col-6 pt-3">
                <img src="/assets/img/family-kano.png" width="100%" class="mr-2" />
            </div>
        </div>
    </div>
</div>

<div class="grid">
    <div class="col-8 col-offset-2">
        <h1>Kano Utleie</h1>

        <div class="grid">
            <div class="col-4">
                <p-card>
                    <ng-template pTemplate="title">
                        Barnekano - 100 kr/timen
                    </ng-template>
                    <ng-template pTemplate="content">
                        <img src="/assets/img/barnekano.png" alt="Barnekano" class="w-full mb-2" />
                        Perfekt for de yngste eventyrerne. Lett og sikker design.
                    </ng-template>
                    <ng-template pTemplate="footer">
                        <p-button label="Lei Nå" class="p-button-outlined p-mt-2"></p-button>
                    </ng-template>
                </p-card>
            </div>

            <div class="col-4">
                <p-card>
                    <ng-template pTemplate="title">
                        Voksenkano - 150 kr/timen
                    </ng-template>
                    <ng-template pTemplate="content">
                        <img src="/assets/img/voksenkano.png" alt="Voksenkano" class="w-full mb-2" />
                        Ideell for voksne padlere. Robust og stabil for lange turer.
                    </ng-template>
                    <ng-template pTemplate="footer">
                        <p-button label="Lei Nå" class="p-button-outlined p-mt-2"></p-button>
                    </ng-template>
                </p-card>
            </div>

            <div class="col-4">
                <p-card>
                    <ng-template pTemplate="title">
                        Familiekano - 200 kr/timen
                    </ng-template>
                    <ng-template pTemplate="content">
                        <img src="/assets/img/familiekano.png" alt="Familiekano" class="w-full mb-2" />
                        Romslig og komfortabel for hele familien. Sikker og brukervennlig.
                    </ng-template>
                    <ng-template pTemplate="footer">
                        <p-button label="Lei Nå" class="p-button-outlined p-mt-2"></p-button>
                    </ng-template>
                </p-card>
            </div>
        </div>
    </div>
</div>