<div class="sticky top-0 flex flex-wrap bg-primary mb-1">
    <div class="flex p-3 mr-1 border-right-3 surface-border">
        <img src="/assets/img/ydalir-Icon.png" height="40" />
    </div>
    <div class="flex align-items-center p-3 cursor-pointer hover:surface-hover" routerLink="/home">
        <span class="material-symbols-outlined mr-1">
            home
        </span>
        <span class="underline">Ydalir</span>
    </div>
    <div class="flex align-items-center p-3 cursor-pointer hover:surface-hover" routerLink="/booking">
        <span class="material-symbols-outlined mr-1">
            hotel
        </span>
        Booking
    </div>
    <div class="flex align-items-center p-3 cursor-pointer hover:surface-hover" routerLink="/food">
        <span class="material-symbols-outlined mr-1">
            restaurant
        </span>
        Food
    </div>
    <div class="flex align-items-center p-3 cursor-pointer hover:surface-hover" routerLink="/clothes">
        <span class="material-symbols-outlined mr-1">
            apparel
        </span>
        Clothes
    </div>

    <div class="flex align-items-center p-3 cursor-pointer hover:surface-hover" routerLink="/ampitheater">
        <span class="material-symbols-outlined mr-1">
            theater_comedy
        </span>
        Amphitheater
    </div>

    <div class="flex align-items-center p-3 cursor-pointer hover:surface-hover" routerLink="/boardgames">
        <span class="material-symbols-outlined mr-1">
            playing_cards
        </span>
        Board games
    </div>

    <div class="flex align-items-center p-3 cursor-pointer hover:surface-hover" routerLink="/kano">
       <span class="material-symbols-outlined mr-1">
           kayaking
       </span>
       Kano
   </div>
    <div class="flex align-items-center p-3 cursor-pointer hover:surface-hover" routerLink="/ropesCourse">
    <span class="material-symbols-outlined mr-1">
        forest
    </span>
       Klatrepark
   </div>
    


    <!-- <div class="flex align-items-center p-3 cursor-pointer hover:surface-hover" routerLink="/information">
        <span class="material-symbols-outlined mr-1">
            info
        </span>
        Information
    </div> -->

    <!-- <div class="flex align-items-center p-3 cursor-pointer hover:surface-hover" routerLink="/facilities">
        <span class="material-symbols-outlined mr-1">
            sports_tennis
        </span>
        Facilities
    </div> -->


    <div class="flex align-items-center p-3 cursor-pointer hover:surface-hover  border-left-3 surface-border" routerLink="/shopingCart">
        <span class="material-symbols-outlined  mr-1">
            shopping_cart
        </span>
    </div>
</div>

<router-outlet></router-outlet>

<app-information></app-information>

