<div class="grid">
    <div class="col-8 col-offset-2">
        <div class="grid">
            <div class="col-6">
                <h1 class="my-2">Brettspill</h1>

                <p>Velkommen til et hjertevarmende og historisk inspirert samlingssted for familier og venner. I vår
                    tradisjonelle
                    mjødhall, omgitt av norrøn kultur og atmosfære, finner dere mer enn bare et sted å spise og
                    drikke.
                </p>

                <p>I samarbeid med Outland, en kjent spesialforretning for spill og underholdning, er vi stolte av å
                    tilby et rikt
                    utvalg av brettspill. Disse spillene er tilgjengelige for alle våre gjester å låne og nyte.
                    Enten
                    dere er en familie
                    på utkikk etter et morsomt spill for kvelden, eller en gruppe venner som ønsker å dykke ned i
                    strategiske og
                    engasjerende spillverdener, har vi noe for enhver smak.</p>

                <p>Vår mjødhall er ikke bare et sted for mat og drikke, men et sted hvor minner skapes, vennskap
                    styrkes, og magiske
                    øyeblikk oppstår rundt spillbordene. Gled dere over levende latter, vennlig rivalisering, og
                    øyeblikk av triumf mens
                    dere utforsker vårt mangfoldige spillutvalg.</p>

                <p>Bli med oss for en uforglemmelig opplevelse hvor historie og moderne spillkultur smelter sammen,
                    skapende unike
                    øyeblikk for både store og små.</p>

            </div>

            <div class="col-6 pt-3">
                <img src="/assets/img/brettspill.png" width="100%" class="mr-2" />
            </div>
        </div>
    </div>
</div>

<div class="grid">
    <div class="col-8 col-offset-2">

        <h1>Brettspillutleie</h1>

        <div class="grid">
            <div class="col-6">

                <p-card>
                    <ng-template pTemplate="title">
                        "Vikinger på Eventyr" - 50 kr/dag
                    </ng-template>
                    <ng-template pTemplate="content">
                        <img src="/assets/img/vikinger-paa-eventyr.png" alt="Vikinger på Eventyr" class="w-full mb-2" />
                        Familievennlig strategispill som tar deg med på en reise gjennom vikingtiden.
                    </ng-template>

                    <ng-template pTemplate="footer">
                        <p-button label="Lei Nå" class="p-button-outlined p-mt-2"></p-button>
                    </ng-template>
                </p-card>
            </div>

            <div class="col-6">

                <p-card>
                    <ng-template pTemplate="title">
                        "Slaget om Midgard" - 70 kr/dag
                    </ng-template>
                    <ng-template pTemplate="content">
                        <img src="/assets/img/slaget-om-midgard.png" alt="Slaget om Midgard" class="w-full mb-2" />
                        Taktisk spill som setter din strategi og allianser på prøve.
                    </ng-template>
                    <ng-template pTemplate="footer">
                        <p-button label="Lei Nå" class="p-button-outlined p-mt-2"></p-button>
                    </ng-template>
                </p-card>
            </div>

            <!-- Gjenta denne strukturen for flere brettspill -->
        </div>
    </div>
</div>