<div class="grid">
    <div class="col-8 col-offset-2">
        <div class="grid">
            <div class="col-6">
                <h1 class="my-2">Tribune</h1>

                <p>Velkommen til hjertet av vårt kulturtilbud, hvor vi tilbyr et bredt spekter av underholdning i vår
                    utendørs
                    tribunesal. Her kan du nyte alt fra fengslende filmer under stjernene til levende
                    teaterforestillinger,
                    konsertopplevelser, inspirerende forelesninger, danseshow og mye mer.</p>

                <p>Vår tribunesal er designet for å gi deg en unik og uforglemmelig opplevelse, uansett hva du ser på.
                    Omfavnet av
                    naturen og med en fantastisk utsikt, er det det perfekte stedet for å slappe av og bli underholdt.
                </p>

                <p>Opplev spenningen av live konserter, den dramatiske intensiteten av teaterstykker, den intellektuelle
                    stimulansen av
                    forelesninger, og den energiske gleden av danseshow. Vår scene er et samlingspunkt for kreativitet
                    og kultur, der vi
                    presenterer et variert utvalg av underholdning for å tiltrekke og engasjere alle aldre og
                    interesser.</p>

                <p>Bli med oss i tribunen, hvor hver forestilling skaper en spesiell forbindelse mellom utøvere og
                    publikum, og gir deg
                    minner som varer livet ut. Enten du er her for film, musikk, dans, teater eller læring, lover vi deg
                    en opplevelse
                    som er både berikende og underholdende.</p>


            </div>
            <div class="col-6 pt-3">
                <img src="/assets/img/tribune.png" width="100%" class="mr-2" />
            </div>

        </div>
    </div>
</div>
<div class="grid">
    <div class="col-8 col-offset-2">

        <h1>Tribuneprogram for Uken</h1>

        <div class="grid">
            <div class="col-12 md:col-6">
                <h2>Kino</h2>
                <p-card>
                    <ng-template pTemplate="title">
                        "Vikingenes Eventyr" - Torsdag kl. 19:00
                    </ng-template>
                    <ng-template pTemplate="content">
                        <img src="/assets/img/vikingenes-eventyr.png" alt="Vikingenes Eventyr" class="w-full mb-2" />
                        Med: Chris Hemsworth, Emma Watson. Varighet: 2 timer.
                    </ng-template>

                    <ng-template pTemplate="footer">
                        <p-button label="Mer info" class="p-button-outlined"></p-button>
                    </ng-template>
                </p-card>
            </div>

            <div class="col-12 md:col-6">
                <h2>Teater</h2>
                <p-card>
                    <ng-template pTemplate="title">
                        "Sagaen om Ragnarok" - Fredag kl. 20:00
                    </ng-template>
                    <ng-template pTemplate="content">
                        <img src="/assets/img/sagaen-om-ragnarok.png" alt="Sagaen om Ragnarok" class="w-full mb-2" />
                        Regissert av: Sofia Coppola. Skuespillere: Tom Hiddleston, Cate Blanchett.
                    </ng-template>

                    <ng-template pTemplate="footer">
                        <p-button label="Mer info" class="p-button-outlined"></p-button>
                    </ng-template>
                </p-card>
            </div>

            <div class="col-12 md:col-6">
                <h2>Konsert</h2>
                <p-card>
                    <ng-template pTemplate="title">
                        "Norrøne Toner" - Lørdag kl. 18:00
                    </ng-template>
                    <ng-template pTemplate="content">
                        <img src="/assets/img/norrone-toner.png" alt="Norrøne Toner" class="w-full mb-2" />
                        Med: Wardruna. Spesialgjest: Aurora.
                    </ng-template>

                    <ng-template pTemplate="footer">
                        <p-button label="Mer info" class="p-button-outlined"></p-button>
                    </ng-template>
                </p-card>
            </div>

            <div class="col-12 md:col-6">
                <h2>Forelesning</h2>
                <p-card>
                    <ng-template pTemplate="title">
                        "Vikingenes Historie og Kultur" - Søndag kl. 16:00
                    </ng-template>
                    <ng-template pTemplate="content">
                        <img src="/assets/img/viking-forelesning.png" alt="Viking Forelesning" class="w-full mb-2" />
                        Med: Professor Neil Price. Emne: Vikingtiden i Skandinavia.
                    </ng-template>

                    <ng-template pTemplate="footer">
                        <p-button label="Mer info" class="p-button-outlined"></p-button>
                    </ng-template>
                </p-card>
            </div>
        </div>
    </div>
</div>